* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}
/* Home page background */
body.home-page {
  background: hsl(0, 9%, 98%);
}

/* Other pages */
body {
  background: #fff;
}